body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  canvas {
    background-color: #113b00;
    border: 2px solid white;
  }
  